/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.12.2014, 16:33:26
    Author     : ishibkikh
*/
body {
    background-image: url(img/bg.png);
}

#main-content-area{
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    5px 5px 5px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         5px 5px 5px 0px rgba(50, 50, 50, 0.15);
    padding-bottom: 20px;
}

#footer {
    text-align: center;
    padding-top: 15px;
    font-size: 0.9em;
    color: #777;
    padding-bottom: 5px;
}

#main-modal h3{
    padding: 0;
    margin: 0;
    color: #777;
}

#topbanners {
    background-image: url(img/bg2.png);
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #fff;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
}

img.banner {
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

a.list-group-item {
    color: #0b5fa0;
}

#rside {
    padding-top: 15px;
    padding-bottom: 15px;
}

#mside {
    border-right: 1px dotted #eee;
    min-height: 400px;
}

.align-bottom {
    margin-top: 30px;
}

.user-bgimage {
    z-index: -1;
    display: block;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
}

.profile-area {
    margin-top: -4.8em;
    z-index: 5;
}

.profile-role {
    margin-top: 1em;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 1px 6px;
    color: #999;
    font-size: 0.9em;
}

.padding-top {
    padding-top: 5.7em;
}

.btn-profile {
    margin-right: 5px;
    margin-bottom: 5px;
}