/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.12.2014, 11:31:54
    Author     : ishibkikh
*/

.btn-width-sm {
    width: 7em;
}

.btn-width-md {
    width: 10em;
}

.form-error-text {
    color: #e15757;
    font-size: 0.9em;
}

.border-red {
    border: 1px solid red;
    height: auto;
}

.pull-center {
    display: table;
    margin: 0 auto;
}

.border-bottom {
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
}

.avatar {
    border: 1px solid #bbb;
    background-color: #fff;
    width: 10em;
}

.avatar-mini {
    border: 1px solid #bbb;
    background-color: #fff;
    width: 3em;
}

.text-default {
    color: #000;
}

.text-white {
    color: #fff;
}

.padding-left {
    padding-left: 1em;
}

.padding-right {
    padding-right: 1em;
}

.text-top {
    vertical-align: text-top;
}

#captcha-img {
    cursor: pointer;
}

.nav-container{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
}

a.noline {
    text-decoration: none;
}